.catalog {

		&__container {
		}

		&__body {
      display: grid;
      grid-template-columns: rem(375) 1fr;
      gap: rem(30);
		}

		&__filter {
		}

		&__content {
		}

		&__control {
      display: flex;
      justify-content: flex-end;
      &:not(:last-child) {
        margin-bottom: rem(20);
      }
		}

		&__products {
      display: grid;
      gap: rem(30);
      grid-template-columns: repeat(auto-fill, minmax(rem(290), rem(375)));
      &:not(:last-child) {
        margin-bottom: rem(30);
      }
		}

    &__footer {
      display: flex;
      justify-content: space-between;
      gap: rem(20);
		}

		&__more {
		}

		&__pagging {
		}
}







